

<!DOCTYPE html>
<html>
<body>


<form action="/patients" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="kbnY2aybOio0+9eIzvxskyIco9/K0JkklvREatZMvQZXuXT5/yFqYSR0/lbknGjGGN/v7FVyvw6P66X9ljLZgw==" />
<p></p>
<p></p>
<p></p>
<br/>
  <div class="field", align="center">
    <label <h1 style="font-size:30px;" for="patient_name" id="nombre">Name / Nombre</label> </h1>
    <p></p>
    <p></p>
    <p></p>
     <br/>
    <input id="patient_name" type="text" size="30" style="padding: 8px;" name="patient[name]" />
  </div>
<p></p>

  <div class="field", align="center">
    <label <h1 style="font-size:30px;" for="patient_number" id="phonenum">Phone number / Nmero Telefonico</label> </h1>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <br/>
    <input id="patient_number"  type="text" size="30"  style="padding: 8px;" name="patient[number]" />
  </div>
<p></p>

  <div class="actions", align="center">
    <input id="signing" type="submit" name="Signin / Registrarse"  value="Sign in / Registrarse" data-disable-with="sign in" />
  </div>
</form>
<p></p>

<!--<center><a href="/patients" id="Back">Back / Regresar</a></center>-->
<br>
 <center>
   
   <font size="6" color="MidnightBlue"> Are you web-enabled? It saves time! Contact front desk for details.</font>
 </center>

<br><br><div align="right"> <a href="/staff">Log in as admin</a> </div>



 </body>
</html>
