<center><h1 style="font-size:55px"> TEXAS AVENUE MEDICAL CLINIC </h1></center>
<br><br>
<center><h1 style="font-size:55px;" id="newpatients">New Patient / Paciente Nuevo</h1></center>

<h1 id="notice"><%= flash[:notice] %></h1>
<%= render 'form', patient: @patient %>


